
#list_app{
	display: none;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: calc(100vh - 63px);
	margin-top: 63px;
	background: rgba(0,0,0,0.7);
	}

@media screen and (max-width: 705px){
	#list_app{
		height: calc(100vh - 53px);
		margin-top: 53px;
		background: rgba(0,0,0,0.7);
		}
}