
@font-face{font-family: 'bauhaus'; src: url(../_fonts/bauhaus.ttf);}
@font-face{font-family: 'monoton'; src: url(../_fonts/monoton.ttf);}
@font-face{font-family: 'plaster'; src: url(../_fonts/Shrikhand-Regular.ttf);}
@font-face{font-family: 'segoe'; src: url(../_fonts/segoe-ui-9.ttf);}
*{padding: 0; margin: 0;}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgba(255,255,255,0.5);
	opacity: 1; /* Firefox */
}

button:focus, input:focus{
	outline: none;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255,0.8);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255,255,255,0.8);
}

body{
	height: 100vh;
	background-image: url(../../_img/fundo2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;}

#menu{
	display: block;
	width: 100%;
	height: 60px;
	border-bottom: 4px solid rgb(255,201,14);
	background-color: rgba(0,0,0,0.8);
	margin-bottom: 50px; 
	overflow: hidden;}

	#btn_secao, #btn_cancel_secao{
		float: left;
		margin: 12px;
		width: 160px;
		height: 35px;
		background-color: rgba(255,255,255,0.05);
		border-radius: 17.5px;
		cursor: pointer;}
		#btn_secao{display: block;}
		#btn_cancel_secao{display: none;}
		#btn_secao:hover{background-color: rgba(255,255,255,0.1);}
		#btn_secao img{
			display: block; 
			float: left;
			width: 35px;
			height: 35px;
			/*background-color: rgb(255,201,14);*/
			border: none;
			border-radius: 17.5px;
		}
		#btn_secao p{
			display: inline-block;
			color: rgba(255,201,14,0.95);
			font-family: 'monoton';
			font-weight: bold;
			font-size: 18px;
			margin: 2.5px 10px;
		}

	#bar_pesquisa{
		display: block;
		position: absolute;
		z-index: 1;
		margin: 12px calc(50% - 200px);
		width: 400px;
		height: 35px;
		background-color: rgba(255,255,255,0.2);
		border-radius: 17.5px;}
		#bar_pesquisa img{
			display: block;
			float: left;
			width: 45px;
			height: 35px;
			/*background-color: rgba(255,255,255,0.1);*/
			background-color: transparent;
			border-radius: 17.5px 0 0 17.5px; 
		}
		#bar_pesquisa form{
			display: block;
			float: left;
			background: transparent;
		}
		#bar_pesquisa input{
			display: block;
			width: 335px;
			height: 35px;
			border: none;
			padding: 0 10px;
			/*background-color: rgba(255,255,255,0.1);*/
			background-color: transparent;
			border-radius: 0 17.5px 17.5px 0; 
			color: #fff;
		}

		@media screen and (max-width: 920px){
			#bar_pesquisa{
				margin: 12px calc(50% - 130px);
				width: 300px;}
				#bar_pesquisa input{width: 235px;}
		}

		@media screen and (max-width: 720px){
			#bar_pesquisa{display: none;}
		}
			
	#op_aside{
		display: block;
		/*background-color: rgba(255,255,255,0.1);*/
		float: right;
		width: 157px;
		height: 60px;}
		#btnapp{right: 65px;}
		#btnperfil{right: 10px;}
		#op_aside button{
			display: block;
			position: absolute;
			height: 60px;
			background: transparent;
			border: none;
			cursor: pointer;
		}
		#icnapp{
			display: block;
			width: 25px;
			height: 25px;
			margin: 0 10px; 
		}
		#icnperfil{
			display: block;
			width: 35px;
			height: 35px;
			margin: 0 10px; 
		}

#bar_pesquisa_mobile{
		display: none;
		position: absolute;
		z-index: 1;
		margin: 12px calc(50% - 200px);
		width: 400px;
		height: 35px;
		background-color: rgba(255,255,255,0.2);
		border-radius: 17.5px;}
		#bar_pesquisa_mobile img{
			display: block;
			float: left;
			width: 45px;
			height: 35px;
			/*background-color: rgba(255,255,255,0.1);*/
			background-color: transparent;
			border-radius: 17.5px 0 0 17.5px; 
		}
		#bar_pesquisa_mobile form{
			display: block;
			float: left;
			background: transparent;
		}
		#bar_pesquisa_mobile input{
			display: block;
			width: 335px;
			height: 35px;
			border: none;
			padding: 0 10px;
			/*background-color: rgba(255,255,255,0.1);*/
			background-color: transparent;
			border-radius: 0 17.5px 17.5px 0; 
			color: #fff;}
		@media screen and (max-width: 720px){
			#bar_pesquisa_mobile{display: block;}
		}
		@media screen and (max-width: 360px){
				#bar_pesquisa_mobile{
					margin: 12px calc(50% - 150px);
					width: 300px;}
					#bar_pesquisa_mobile input{width: 235px;}
		}

#list_secoes{
	display: block;
	position: absolute;
	z-index: 2;
	overflow: hidden;
	height: 0px;
	transition: all 0.15s;}
	.secao{
		display: block;
		width: 160px;
		height:35px;
		margin: 5px 12px;
		border-radius: 17.5px;
		background-color: rgba(0,0,0,0.65);
		color: #Fff;
		cursor: pointer;}
	.secao:hover{background-color: rgba(0,0,0,0.95);}
	.secao img{
		display: block;
		float: left;
		filter: opacity(75%);
		border-radius: 17.5px;
		width: 35px;
		height: 35px;}
	.secao a{
		display: block;
		float: left;
		color: #fff;
		font-family: segoe;
		font-size: 13px;
		/*font-weight: bold;*/
		text-decoration: none;
		margin: 7px 15px;
	}

#list_apps, #op_perfil{
	display: none;
	position: absolute;
	z-index: 2;
	margin: 10px;
	right: 0;
	width: 340px;
	height: 250px;
	background-color: #fff;
	box-shadow: 0px 0px 1em #000;
	border-radius: 10px;}
