
#searchresult{
	display: none;
	position: fixed;
	width: 100%;
	height: calc(100vh - 63px);
	margin-top: 63px;
	background: rgba(0,0,0,0.7);
	transition: linear 0.5s;
	}

	#btncancelsearch{
		display: block;
		float: right;
		background-color: transparent;
		border: none;
		border-radius: 17.5px;
		width: 35px;
		height: 35px;
		margin: 12.5px;
		cursor: pointer;
	}
	#btncancelsearch:hover{
		background-color: rgba(255,255,255,0.2);
	}
	#btncancelsearch img{
		display: block;
		width: 100%;
	}

@media screen and (max-width: 705px){
	#searchresult{
		height: calc(100vh - 53px);
		margin-top: 53px;
		}
		#btncancelsearch{
			width: 30px;
			height: 30px;
			margin: 10px;
		}
}